.MMM-forecast-io {
}

.MMM-forecast-io .humidity {
  color: green;
}

.MMM-forecast-io .big-icon {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-forecast-io .summary {
  width: 400px;
}

.MMM-forecast-io .forecast {
  text-align: left;
  min-width: 400px;
  margin-top: 1ex;
}

.MMM-forecast-io .forecast-row {
}

.MMM-forecast-io .forecast-row>span {
  display: table-cell;
  width: 1px;
}

.MMM-forecast-io .forecast-row .forecast-day {
  text-align: left;
  padding-right: 0.2em;
}
.MMM-forecast-io .forecast-row .weathericon {
  text-align: center;
  padding-right: 0.5em;
}

.MMM-forecast-io .forecast-bar {
  display: table;
  overflow: hidden;
}

.MMM-forecast-io .forecast-bar>span {
  display: table-cell;
  text-align: center;
}

.MMM-forecast-io .forecast-bar .bar {
  background-color: #aaa;
  line-height: 0.8em;
  border-radius: 1em;
  border: 0.5ex black solid;
  background-clip: padding-box;
  color: black;
}

.MMM-forecast-io .precipitation-graph {
  border: 1px solid #aaa;
  margin-top: 1ex;
}

.small.MMM-forecast-io .forecast {
  min-width: 200px;
  max-width: 300px;
}

.small.MMM-forecast-io .summary {
  width: 300px;
}

.small.MMM-forecast-io .precipitation-graph {
  width: 300px;
}
.MMM-forecast-io .wi-sunrise {
color: #ffd700;
}
.MMM-forecast-io .wi-sunset {
color: #ffa500;
}
.MMM-forecast-io .wi-day-sunny {
color: #ffff00;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-degrees {
color: #415;
}
.MMM-forecast-io .wi-rain {
color: #55acee;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-alt-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-night-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-day-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-snow {
color: #fff;
}
.MMM-forecast-io .wi-fog {
color: #999;
}
.MMM-forecast-io .wi-night-clear {
color: #fff;
}
.MMM-forecast-io .wi-night-rain {
color: #55acee;
}
.MMM-forecast-io .wi-night-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-night-snow {
color: #fff;
}

.MMM-forecast-io .wi-sunrise {
color: #ffd700;
}
.MMM-forecast-io .wi-sunset {
color: #ffa500;
}
.MMM-forecast-io .wi-day-sunny {
color: #ffff00;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-degrees {
color: #415;
}
.MMM-forecast-io .wi-rain {
color: #55acee;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-alt-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-night-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-day-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-snow {
color: #fff;
}
.MMM-forecast-io .wi-fog {
color: #999;
}
.MMM-forecast-io .wi-night-clear {
color: #fff;
}
.MMM-forecast-io .wi-night-rain {
color: #55acee;
}
.MMM-forecast-io .wi-night-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-night-snow {
color: #fff;
}
